@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

$font-principal: 'Roboto', sans-serif;
$cor-primaria: #E8D1AF;
$cor-primaria-hover: #f6deba;
$cor-primaria-hover-escuro: #E8D1AF;
$cor-secundaria: #00C5CD;
$cor-secundaria-hover: #00dae3;


/** DEFAULT */
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: $font-principal;
  margin: 0;
  font-size: 18px;
  color: #4B4B4B;
}
.centro{
  width: 80%;
  margin: 0 auto;
}

.btn-grupo{
  margin-top: 15px;
  button{
    border: none;
    background-color: $cor-secundaria;
    cursor: pointer;
    font-size: 18px;
    font-weight: bolder;
    padding: 15px 10px;
    border-radius: 5px;
    text-transform: uppercase;
    color: #fff;
    &:hover{
      background-color: $cor-secundaria-hover;
    }
  }
}
.qtd{
  i{
    cursor: pointer;
    margin: 0 10px;
  }
  input{
    border: none;
    width: 30px;
    text-align: center;
    &:focus,
    &:active{
      border: none;
    }
  }
}
.slider{
  .slick-dots{
    li{
      button{
        &:before{
          color: $cor-secundaria-hover;
          opacity: 1;
          font-size: 15px;
        }
        &:hover:before,
        &:focus:before{
          color: $cor-secundaria;
        }
      }
      &.slick-active{
        button:before{
          color: $cor-secundaria;
          opacity: 1;
        }
      }
    }
  }
  /* Arrows */
  .slick-prev{
    top: 45%;
    left: -45px;
    width: 20px;
    height: 20px;
    padding: 0;
    &:before{
      font-family: FontAwesome;
      font-size: 50px;
      color: #4B4B4B;
      content: "\f053";
    }
  }
  .slick-next{
    top: 45%;
    right: -25px;
    width: 20px;
    height: 20px;
    padding: 0;
    &:before{
      font-family: FontAwesome;
      font-size: 50px;
      color: #4B4B4B;
      content: "\f054";
    }
  }

  div{
    img{
      width: 100%;
    }
  }
}
/*LOAD*/
.ajax_load{
  display: block;
  width: 100%;
  height: 100%;
  position: fixed;
  text-align: center;
  background-color: #fff;
  z-index: 99;
  .ajax_load_box{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    .ajax_load_box_circle{
      text-align: center;
      i{
        font-size: 80px;
      }
    }
    .ajax_load_box_title{
      font-size: 24px;
    }
  }
}
/*
    GLOBAL
*/
/* COOKIES */
#cookie{
  border-top: 1px solid #fff;
  position: fixed;
  z-index: 2;
  left: 0;
  bottom: 0;
  background-color: $cor-primaria;
  padding: 15px 0;
  .centro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px 20px;
    p{
      font-size: 16px;
    }
  }
}
/* CABECALHO*/
#cabecalho{
  .superior{
    background-color: $cor-secundaria;
    text-align: right;
    nav{
      ul{
        display: flex;
        list-style: none;
        justify-content: flex-end;
        align-items: center;
        a{
          color: #fff;
          text-decoration: none;
          padding: 10px 0;
          li{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin: 0 7px;
            i{
              font-size: 25px;
              margin-right: 7px;
            }
          }
        }
      }
    }
  }
  .principal{
    background-color: $cor-primaria;
    padding: 10px 0;
    .bar{
      display: none;
      text-align: right;
      .fa-bars{
        font-size: 30px;
        cursor: pointer;
        text-align: right;
      }
    }
    .centro{
      display: flex;
      justify-content: space-between;
      align-items: center;
      .logo{
        img{
          width: 80px;
        }
      }
    }
    .pesquisa {
      width: 50%;
      position: relative;
      overflow: hidden;
      form{
        input {
          width: 100%;
          padding: 10px 10px 10px 30px;
          border-radius: 50px;
          border: 1px solid #ccc;
          font-size: 18px;
        }
        button {
          overflow: hidden;
          background-color: transparent;
          position: absolute;
          top: 0;
          right: 0;
          border: none;
          color: #ccc;
          height: 100%;
          div{
            padding: 7px 15px;
            cursor: pointer;
            height: 100%;
            position: relative;
            i{
              font-size: 30px;
            }
          }
        }
      }
    }
    .bag{
      cursor: pointer;
      position: relative;
      i{
        font-size: 20px;
      }
      #box-carrinho{
        border-radius: 4px;
        display: none;
        margin-top: 20px;
        position: absolute;
        background-color: #fff;
        border: 1px solid #ccc;
        z-index: 3;
        width: 400px;
        right: 0;
        padding: 15px 10px;
        .msg-sem-produto{
          text-align: center;
        }
        .produtos-carrinho{
          .item{
            display: flex;
            justify-content: space-between;
            align-items: center;
            div{
              margin: 5px 0;
              img{
                width: 100px;
              }
            }
          }
        }
        .btn-grupo{
          text-align: center;
          button{
            font-size: 16px;
            padding: 10px 20px;
            font-weight: normal;
          }
        }
      }
    }
  }
}

.menu{
  margin: 20px 0;
  .centro{
    ul{
      list-style: none;
      display: flex;
      gap: 10px 20px;
      a{
        color: #4B4B4B;
        text-decoration: none;
        li{
          i{

          }
        }
      }
      li{
        cursor: pointer;
        position: relative;
        i{

        }
        &:hover ul{
          display: block;
        }
        ul{
          position: absolute;
          display: none;
          width: 100%;
          z-index: 2;
          div{
            background-color: #fff;
            margin-top: 15px;
            border: 1px solid #ccc;
            min-width: 200px;
            a{
              font-size: 17px;
              li{
                padding: 10px;
                &:hover{
                  background-color: $cor-primaria;
                }
              }
            }
          }
        }
      }
    }
  }
}

#banner-principal{
  .slick-dots{
    bottom: 15px;
    li{
      button{
        &:before{
          color: #fff;
          opacity: 1;
          font-size: 15px;
        }
        &:hover:before,
        &:focus:before{
          color: $cor-secundaria;
        }
      }
      &.slick-active{
        button:before{
          color: $cor-secundaria;
          opacity: 1;
        }
      }
    }
  }
  /* Arrows */
  .slick-prev{
    left: 40px;
    z-index: 2;
    &:before{
      font-family: FontAwesome;
      font-size: 50px;
      color: #fff;
      content: "\f053";
    }
  }
  .slick-next{
    right: 30px;
    z-index: 2;
    &:before{
      font-family: FontAwesome;
      font-size: 50px;
      color: #fff;
      content: "\f054";
    }
    &:hover &:before{
      display: block;
    }
  }
}

#info{
  margin-top: 60px;
  .centro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px 20px;
    div{
      background-color: #F0F0F0;
      padding: 20px;
      max-height: 80px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: 4px;
      img{
        margin-right: 20px;
      }
    }
  }
}

#banner-categoria{
  margin-top: 60px;
  .centro{
    .categorias{
      div{
        text-align: center;
        a{
          color: #4B4B4B;
          text-decoration: none;
          img{
            padding: 0 20px;
            width: 100%;
            height: 130px;
            border-radius: 50%;
            opacity: 1;
            &:hover{
              opacity: .7;
            }
          }
          h3{
            margin-top: 20px;
          }
        }
      }
    }
  }
}

#produtos{
  margin-top: 60px;
  h1{
    text-align: center;
    margin-bottom: 30px;
  }
  .centro{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px 20px;
    .filtro{
      border: 1px solid #e4e4e4;
      border-radius: 7px;
      padding: 10px;
      width: 25%;
      .pesquisa {
        width: 100%;
        position: relative;
        overflow: hidden;
        form{
          input {
            width: 100%;
            padding: 10px 50px 10px 15px;
            border-radius: 50px;
            border: 1px solid #ccc;
            font-size: 16px;
          }
          button {
            overflow: hidden;
            background-color: transparent;
            position: absolute;
            top: 0;
            right: 0;
            border: none;
            color: #ccc;
            height: 100%;
            div{
              padding: 10px 13px;
              cursor: pointer;
              height: 100%;
              position: relative;
              i{
                font-size: 20px;
              }
            }
          }
        }
      }
      .box-filtro{
        margin-top: 20px;
        nav{
          ul{
            list-style: none;
            a{
              color: #4B4B4B;
              text-decoration: none;
              text-transform: uppercase;
              &:hover{
                text-decoration: underline;
              }
              li{
                margin: 10px 0;
              }
            }
          }
        }
      }
    }
    .produtos{
      width: 75%;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 10px 10px;
      div.item{
        border: 1px solid #e4e4e4;
        padding-bottom: 10px;
        a{
          color: #4B4B4B;
          text-align: center;
          font-size: 13px;
          text-decoration: none;
          &:hover{
            text-decoration: underline;
          }
          h2{
            padding: 10px;
          }
          img{
            width: 100%;
            margin-bottom: 5px;
          }
        }
        .dados{
          padding: 0 10px;
          .descricao{
            font-size: 15px;
            margin: 15px 0 30px 0;
          }
          .old_price{
            p{
              margin-bottom: -5px;
              text-decoration: line-through;
              color: #ff6162;
            }
          }
          .price{
            p{
              color: $cor-secundaria;
              font-size: 20px;
              text-align: center;
              font-weight: bolder;
            }
            .quantidade{
              label{
                font-size: 12px;
              }
            }
          }
          .btn-grupo{
            margin-top: 15px;
            button{
              color: #fff;
              background-color: $cor-secundaria;
              font-size: 13px;
              width: 100%;
              &:hover{
                background-color: $cor-secundaria-hover;
              }
            }
          }
        }
      }
    }
  }
}
.produtos-mini{
  margin-top: 10px !important;
  .centro{
    .produtos{
      width: 100% !important;
      grid-template-columns: 1fr 1fr 1fr 1fr !important;
      div.item{
        a{
          font-size: 12px !important;
        }
        .dados{
          .info{
            gap: 5px 5px !important;
            div{
              padding: 5px !important;
              font-size: 16px !important;
            }
          }
          .detalhes{
            label{
              font-size: 16px !important;
            }
          }
          .price{
            display: block !important;
            text-align: center;
          }
          .btn-grupo{
            button{
              font-size: 12px !important;
            }
          }
        }
      }
    }
  }
}

/**
    PDOCT SINGLE
 */
#produto-singular{
  margin: 60px 0;
  h1{
    margin-bottom: 60px;
    font-size: 30px;
  }
  .box-conteudo{
    display: flex;
    margin: 20px auto 60px auto;
    .centro {
      .images {
        float: left;
        text-align: center;
        width: 30%;
        .slider-for {
          div {
            img {
              width: 100%;
              height: 200px;
            }
          }
        }
        .slider-nav {
          margin-top: 20px;
          div {
            cursor: pointer;
            img {
              padding: 0 5px;
              height: 70px;
              width: 100%;
            }
          }
        }
      }
      .conteudo {
        border: 1px solid #ccc;
        width: 65%;
        float: left;
        margin-left: 10px;
        div{
          div{
            margin: 10px 0;
            span{
              font-weight: bolder;
              display: block;
              margin-bottom: 10px;
            }
            select{
              width: 100%;
              padding: 10px;
            }
            p{
            }
          }
        }
        .quantidade{
          padding: 10px 20px;
          border-top: 1px solid #ccc;
          border-bottom: 1px solid #ccc;
          margin: 0;
          .radio{
            display: flex;
            gap: 10px 20px;
            flex-wrap: wrap;
            label{
              padding: 10px;
              cursor: pointer;
              border: 1px solid #ccc;
              border-radius: 7px;
            }
          }
        }
        .observacoes{
          padding: 10px 20px;
          border-top: 1px solid #ccc;
          border-bottom: 1px solid #ccc;
          margin: 0;
          div{
            margin: 10px 0;
            display: flex;
            label{
              font-weight: bolder;
              width: 50%;
            }
            p{
              width: 50%;
            }
            textarea{
              width: 50%;
              min-width: 50%;
              max-width: 50%;
              padding: 10px;
              font-family: "Roboto", sans-serif;
              min-height: 150px;
              max-height: 150px;
            }
          }
        }
        .valor-total{
          padding: 10px 20px;
          border-top: 1px solid #ccc;
          margin: 0;
          div{
            margin: 10px 0;
            display: flex;
            align-items: center;
            label{
              font-weight: bolder;
              width: 50%;
            }
            p{
              width: 50%;
            }
            .btn-grupo{
              button{
                padding: 15px 20px;
              }
            }
          }
        }
      }
    }
  }
  h1{
    text-align: center;
  }
}
/**
  CARRINHO
 */
#carrinho{
  margin: 20px 0;
  .sem-produto{
    text-align: center;
    button{
      display: block;
      margin: 20px auto;
      background-color: $cor-primaria;
      a{
        color: #000;
        text-decoration: none;
      }
      &:hover{
        background-color: $cor-primaria-hover;
      }
    }
  }
  .tabela{
    margin: 30px 0;
    .centro{
      h1{
        margin: 30px 0;
        text-align: center;
      }
      table{
        width: 100%;
        border: 1px solid #ccc;
        border-collapse: collapse;
        border-spacing: 0;
        thead{
          tr{
            th:first-child{
              width: 50%;
            }
            th{
              text-align: center;
              padding: 15px 0;
            }
          }
        }
        tbody{
          tr{
            border-top: 2px solid #ccc;
            border-bottom: 2px solid #ccc;
            padding: 20px 0;
            td:first-child{
              a{
                display: flex;
                align-items: center;
                justify-content: center;
                gap: 10px 20px;
                color: #000;
                text-decoration: none;
                &:hover{
                  text-decoration: underline;
                }
              }
            }
            td{
              padding: 20px 0;
              text-align: center;
              vertical-align: middle;
              img{
                width: 100px;
                height: 100px;
                border-radius: 50%;
              }
              .qtd{
                i{
                  cursor: pointer;
                  font-size: 20px;
                  margin: 0 20px;
                }
              }
              a{
                text-decoration: none;
                color: #000;
                &:hover{
                  color: red;
                }
              }
            }
          }
        }
        tfoot{
          tr{
            td{
              padding: 15px;
            }
            td:last-child{
              text-align: right;
            }
          }
        }
      }
    }
  }
}
#checkout{
  margin: 60px 0;
  h1{
    text-align: center;
    margin: 0 0 60px 0;
    text-transform: uppercase;
  }
  .centro{
    form{
      display: flex;
      justify-content: space-between;
      gap: 10px 20px;
      div{
        width: 100%;
        padding: 5px;
        h2{
          margin: 0 0 20px 0;
        }
        .card{
          border: 1px solid #ccc;
          padding: 10px;
          margin: 30px 0;
          .form_group{
            display: flex;
            justify-content: space-between;
            div{
              label{
                display: block;
                margin: 5px 0;
              }
              input{
                padding: 10px 20px;
                border-radius: 7px;
                border: 1px solid #cecece;
                width: 100%;
                font-size: 18px;
              }
            }
          }
        }
        .box-resumo{
          padding: 40px 20px 40px 20px;
          background: #fef9da;
          border: 1px solid rgba(0,0,0,.1);
          text-align: center;
          font-size: 16px;
          transition: 0.3s;
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 10%);
          p{
            text-align: right;
            font-size: 10px;
            margin-bottom: 0px;
          }
          h2{
            text-transform: uppercase;
            text-align:center;
            border-bottom: 1px dashed black;
            border-top: 1px dashed black;
            padding-top: 3%;
            padding-bottom: 3%;
          }
          table{
            width: 100%;
            text-align: center;
            tfoot{;
              tr{
                td{
                  padding: 10px 0
                }
                td:first-child{
                  text-align: left;
                }
                td:last-child{
                  text-align: right;
                }
              }
            }
          }
          .detalhes{
            margin-top: 20px;
            text-align: right;
            label{
              display: block;
              font-weight: bolder;
              font-size: 18px;
              span{
                font-weight: normal;
              }
            }
          }
        }
        .info{
          text-align: center;
          margin: 20px 0;
        }
        .btn-grupo{
          text-align: right;
        }
      }
    }
  }
}
footer{
  margin-top: 90px;
  .widget{
    background-color: $cor-primaria;
    padding: 30px 0;
    color: #4B4B4B;
    .centro{
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      gap: 10px 20px;
      div{
        width: 100%;
        &.fale-conosco{
          div{
            margin-bottom: 10px;
          }
        }
        h2{
          text-transform: uppercase;
          font-size: 34px;
          margin-bottom: 20px;
        }
        h3{
          text-transform: uppercase;
          font-size: 21px;
          margin-bottom: 20px;
        }
        ul{
          list-style: none;
          margin: 0;
          padding: 0;
          li{
            padding: 5px 0;
            a{
              color: #4B4B4B;
              text-decoration: none;
              &:hover{
                text-decoration: underline;
              }
            }
          }
          &.redes-sociais{
            a{
              color: #4B4B4B;
              text-decoration: none;
              li{
                display: inline;
                margin-right: 10px;
                i{
                  font-size: 30px;
                }
              }
            }
          }
        }
        .endereco, .email{
          display: flex;
          margin: 0;
          p{
            margin-right: 15px;
            a{
              color: #4B4B4B;
              text-decoration: none;
              &:hover{
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
  .footer{
    background-color: #4B4B4B;
    text-align: center;
    color: #fff;
    padding: 10px 0;
    a{
      color: #fff;
      text-decoration: none;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}

/*Mobile*/
@media all and (max-width: 480px){
  #cookie{
    .centro{
      display: block;
      text-align: center;
      p{
        font-size: 16px;
      }
    }
  }
  #cabecalho{
    .superior{
      .centro{
        nav{
          ul{
            justify-content: center;
            a.social{
              display: none;
            }
          }
        }
      }
    }
    .principal{
      .centro{
        display: block;
        text-align: center;
        div{
          margin: 10px 0;
        }
        .pesquisa{
          width: 100%;
          form{
            input{
              font-size: 17px;
              padding: 10px 35px 10px 25px;
            }
            button{
              padding: 0;
              margin: 0;
              div{
                margin: 0;
                padding: 13px 10px;
                i{
                  font-size: 20px;
                }
              }
            }
          }
        }
        .bag{
          display: none;
        }
        .bar{
          display: block;
        }
      }
    }
  }
  .menu{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background-color: $cor-primaria;
    height: 100%;
    z-index: 99;
    margin: 0;
    padding: 10px;
    width: 50%;
    .centro{
      width: 100%;
      nav{
        ul{
          display: block;
          position: absolute;
          top: 50%;
          transform: translate(0, -50%);
          li{
            margin: 0;
            ul{
              position: initial;
              display: none;
              width: 100%;
              z-index: 2;
              margin: 0;
              padding: 0;
              div{
                background-color: transparent;
                border: none;
                margin: 0;
                padding: 0;
                a{
                  font-size: 17px;
                  li{
                    padding: 0;
                    &:hover{
                      background-color: $cor-primaria;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  #banner-principal{
    display: none;
  }
  #info{
    margin: 20px 0;
    .centro{
      width: 90%;
      display: block;
      div{
        margin: 10px 0;
      }
    }
  }
  #produtos{
    .centro{
      display: block;
      .filtro{
        display: none;
      }
      .produtos{
        display: block;
        width: 100%;
        .item{
          margin: 20px 0;
        }
      }
    }
  }
  #banner-categoria{
    width: 90%;
    margin: 30px auto;
  }
  #produto-singular{
    margin: 30px 0;
    h1{
      margin-bottom: 20px;
    }
    .box-conteudo{
      .centro{
        width: 90%;
        .images{
          float: none;
          width: 100%;
        }
        form{
          float: none;
          .conteudo {
            width: 100%;
            float: none;
            margin: 30px 0 0 0;
            .detalhes{
              div{
                display: block;
                width: 100%;
                label{
                  width: 100%;
                }
                p{
                  margin-top: 10px;
                  width: 100%;
                }
              }
            }
            .observacoes{
              div{
                display: block;
                width: 100%;
                label{
                  display: block;
                  width: 100%;
                  margin-bottom: 20px;
                }
                textarea{
                  display: block;
                  width: 100%;
                  min-width: 100%;
                  max-width: 100%;
                }
              }
            }
            .valor-total{
              div{
                display: block;
                label{
                  width: 100%;
                  display: block;
                  text-align: center;
                }
              };
            }
          }
        }
      }
    }
  }
  #carrinho{
    .centro{
      width: 95%;
      table{
        thead{
          tr{
            th:first-child{
              width: auto;
            }
          }
        }
        tbody{
          tr{
            td:first-child{
              display: block;
              a{
                display: block !important;
                img{
                  background-color: red;
                  display: block;
                  margin: 0 auto;
                  width: 50px;
                  height: 50px;
                }
                p{
                  display: block;
                }
              }
            }
          }
        }
      }
    }
  }
  #checkout{
    .centro{
      width: 90%;
      form{
        display: block;
        div{
          .card{
            .form_group{
              display: block;
            }
          }
        }
        .resumo{
          .btn-grupo{
            text-align: center;
          }
        }
      }
    }
  }
  footer{
    .widget{
      .centro{
        display: block;
        div{
          margin: 20px 0;
        }
      }
    }
  }
}
/*Teblet*/
@media all and (max-width: 920px){
  #info{
    .centro{
      width: 90%;
      gap: 10px 10px;
      font-size: 14px;
      div{
        padding: 15px 10px;
      }
    }
  }
  #produtos{
    .centro{
      .produtos{
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}
