*,
html,
body{
    font-family: 'Montserrat', sans-serif;
    color: #263238;
    font-weight: 400;
}
body{
    background-color: #fff;
}
.logo{
    width: 150px;
    height: 50px;
}
.bg-color-primary{
    background-color: var(--color-primary);
}
.bg-color-second{
    background-color: var(--color-second);
}
.btn-padrao{
    padding: 10px;
    text-align: center;
    width: 320px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid rgb(93 122 137);
}
.btn-padrao a{
    color: rgb(93 122 137);
}
.btn-padrao{
    padding: 10px;
    text-align: center;
    width: 320px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid rgb(93 122 137);
}
.btn-padrao a{
    color: rgb(93 122 137);
}

/*HEADER*/
.main-header{
    padding: 0 0 10px 0;
    margin: 0;
    box-shadow: 0 0 4px rgba(0,0,0,.4);
}
.main-header .navbar-nav .nav-link{
    font-weight: bolder;
}
.main-header .navbar-nav .link-cadastro{
    font-weight: bolder;
    color: var(--color-second);
}
.main-header .navbar-nav .nav-link:hover{
    color: var(--color-second);
}

#banner-models .title{
    font-size: 30px;
    padding: 20px 40px;
    display: block;
    width: 40%;
    text-align: left;
}
.searcch span{
    left: 10px;
    top: 5px;
    z-index: 99;
    position: absolute;
}
.searcch input{
    padding: 0 40px;
}
/*BANNER*/
/* Arrows */
.slick-prev{
    left: 40px;
    z-index: 2;
}
.slick-prev:before{
    font-family: FontAwesome;
    font-size: 50px;
    color: var(--color-second);
    content: "\f053";
}
.slick-next{
    right: 50px;
    z-index: 2;
}
.slick-next:before{
    font-family: FontAwesome;
    font-size: 50px;
    color: var(--color-second);
    content: "\f054";
}
slick-next:hover, slick-next:before{
 display: block;
}
#banner-principal{
    overflow: hidden;
    margin-bottom: -15px;
}
#banner-principal figure{
    position: relative;
}
#banner-principal figure figcaption{
    display: flex;
    align-items: center;
    position: absolute;
    width: 50%;
    top: 0;
    left: 0;
    height: 100%;
}
#banner-principal figure figcaption div{
    margin-left: 50px;
    color: #fff;
}
#banner-principal figure figcaption div p{
    color: #fff;
}

/* HOME */
#principal{
    width: 100%;
    overflow: hidden;
    margin: 30px 0;
    padding: 20px 0;
}
#principal h3{
    margin: 0 0 60px 0;
    text-align: center;
    font-weight: normal;
}
#principal h2{
    text-transform: uppercase;
}
#principal .lista-tab{
    margin-bottom: 40px;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.1);
}
#principal .lista-tab ul li a{
    padding: 20px;
    width: 300px;
    text-align: center;
    color: rgba(0,0,0,.4);
    font-weight: bolder;
}
#principal .lista-tab ul li a.active{
    background-color: transparent;
    color: var(--color-second);
    border-radius: 0;
    border-bottom: 3px solid red;
}
#principal .lista-tab ul li a.active i{
    color: var(--color-second);
}
#principal .box-content{
    width: 80%;
    margin: 0 auto;
}
#principal #anuciante .btn-padrao{
    border: 1px solid var(--color-second);
}
#principal #anuciante .btn-padrao a{
    color: #fff;
}

#banner-models{
    margin-top: 60px;
}
#banner-models h2{
    width: 30%;
    text-transform: uppercase;
}
#banner-models .box-models{
    padding: 20px 0;
}
#banner-models .box-models:nth-child(even){
    background-color: var(--color-primary);
}
#banner-models .models{
    margin: 20px 0;
}
#banner-models .model-item{
    display: flex;
    flex-direction: column;
    min-width: 300px;
    background-color: rgb(255 255 255);
    border: 1px solid rgba(0,0,0,.25);
    margin: 0 10px;
}
#banner-models .model-item .item-model{
    display: flex;
    flex-direction: row;
}
#banner-models .model-item .item-model div.imagem{
    width: 40%;
}
#banner-models .model-item .item-model div.info{
    width: 60%;
    padding: 20px;
    text-align: left;
    color: #263238;
}
#banner-models .model-item .item-model div.info p{
    padding: 0;
    margin: 0;
}
#banner-models .model-item .item-model div.info p.description{
    margin-top: 20px;
}
#banner-models .model-item .item-model div.info h4{
    font-size: 16px;
}
#banner-models .model-item .item-model div.info .barra{
    background-color: rgba(0,0,0,.10);
    padding: 1px;
    width: 100%;
}
#banner-models .models div{
    text-align: center;
}
#banner-models .models a{
    color: #4B4B4B;
    text-decoration: none;
}
#banner-models .models img{
    width: 100%;
    height: 200px;
}
#banner-models .models img{
    width: 100%;
    height: 200px;
}
#banner-models .models .perfil{
    padding: 10px 20px;
    color: #0a0e14;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer .social i{
    font-size: 30px;
    margin: 0 5px;
}
.modal .texto{
    display: flex;
    align-items: center;
    gap: 10px 20px;
}
.modal .texto i{
    cursor: pointer;
}